.search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

.search-box {
display: flex;
align-items: center;
gap: 10px; 
}

.search-box input {
padding: 8px;
font-size: 16px;
}

.search-page {
    text-align: left;
    padding: 100px;
    /* TODO: Add background image styles here */
    background-size:cover;
    background-position: center;
    color: black; 
    background-color: white;
    height: auto; 
    min-height: 100vh;
  }

.search-button{
    background-color: rgb(0, 122, 184);
    border: none;
    margin: 15px;
    padding: 15px 32px;
    border-radius: 25px;
}

.result-card {
    width: 100%;
    padding: 10px;
    background-color: rgb(166, 210, 230);
    border: 1px solid whitesmoke;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center; /* Centers text horizontally */
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center; /* Centers text within the button */
  }

  section {
    margin: 30px; 
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
  }
  